<footer>
  <p>
    © <%= Time.now.year %> gotech.education | Aprenda Business, Tecnologia e SoftSkills | Todos os direitos reservados.
    <br>
    Desenvolvido por <a href="https://gotech.education" class="footer-link">gotech.education</a>
  </p>
</footer>